.tk-page-header{
    display: grid;
    justify-content: left;
    background-image: url('../../img/login-logo.png');
}

.tk-wrapper{
    max-width: 100vw;
    height: 100vh;
    /*スクロール時，画面が下に行かない設定*/
    max-height: 100vh;
    overflow: auto;
}

.tk-main-nav{
    display: grid; /*縦並び*/
    font-size: 1.25em;
    list-style: none; /*リストの先頭文字「・」を非表示*/
}

.tk-main-nav li{
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tk-main-nav a{
    color: #fff;
    text-decoration: none; /*下線を消す*/
}

.tk-main-nav a:hover{
    color: #0bd;
}
